.logo-box {
  padding: 5px;
  margin-bottom: 10px;
  float: left;
  width: 100%;
  border: 1px #aaa solid;
  background-color: #aaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
/* line 10, ../sass/_notifications.scss */
.logo-box img {
  float: left;
  margin-right: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
/* line 16, ../sass/_notifications.scss */
.logo-box p {
  display: block;
  margin-bottom: 0;
  color: #fff;
  font-size: 0.8125em;
}
